* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: "Lato", sans-serif;
  /* font-family: "BankGothic"; */
  /* font-family: "Audiowide"; */
  /* 'BankGothic' */
  /* font-family: 'Mitr', sans-serif; */
}
